In [82]:
import pandas as pd

from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import metrics   #Additional scklearn functions
#from sklearn import cross_validation
from sklearn.model_selection import GridSearchCV

In [83]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
train.head()

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,...,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Z,NaN,NaN,NaN,0,NaN,NaN

In [206]:
test.head()

,ID,v1,v10,v100,v101,v102,v103,v104,v105,v106,...,v72_3,v72_4,v72_5,v72_6,v72_7,v72_8,v72_9,v72_10,v72_11,v72_12
114321,0,1.375465e+00,1.312911,19.708030,4.186787,1.873945,4.129022,1.701894,0.004535,11.688117,...,0,0,0,0,0,0,0,0,0,0
114322,1,7.125290e+00,1.291029,7.125290,7.125290,7.125290,7.125290,7.125290,7.125290,7.125290,...,0,0,1,0,0,0,0,0,0,0
114323,2,-4.903407e-07,1.575492,19.799999,6.535555,0.762963,4.917534,1.981859,0.002794,11.747048,...,0,0,0,0,0,0,0,0,0,0
114324,7,2.661870e+00,1.575493,0.116143,3.627655,5.664581,7.486234,4.313037,1.048637,5.957084,...,0,0,0,0,0,0,0,0,0,0
114325,10,1.252822e+00,1.050328,19.227696,6.606787,1.493882,4.929004,1.906923,0.055134,14.666965,...,0,0,0,0,0,0,0,0,0,0

In [179]:
train.shape,test.shape

((114321, 173), (114393, 173))

In [ ]:
train.dtypes

In [84]:
train['source']= 'train'
test['source'] = 'test'
data=pd.concat([train,test],ignore_index=True)
data.head()

C:\Users\v9022828\AppData\Local\conda\conda\envs\Imagebox\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,ID,source,target,v1,v10,v100,v101,v102,v103,v104,...,v90,v91,v92,v93,v94,v95,v96,v97,v98,v99
0,3,train,1.0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,...,0.905342,A,0.442252,5.814018,3.517720,0.462019,7.436824,5.454545,8.877414,1.191337
1,4,train,1.0,NaN,1.312910,NaN,NaN,NaN,NaN,NaN,...,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,8.303967,NaN
2,5,train,1.0,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,...,0.811447,G,0.271480,5.156559,4.214944,0.309657,5.663265,5.974026,11.588858,0.841837
3,6,train,1.0,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,...,1.042425,B,0.763925,5.498902,3.423944,0.832518,7.375480,6.746988,6.942002,1.334611
4,8,train,1.0,NaN,1.050328,NaN,NaN,NaN,NaN,NaN,...,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
data.dtypes

ID          int64
source     object
target    float64
v1        float64
v10       float64
v100      float64
v101      float64
v102      float64
v103      float64
v104      float64
v105      float64
v106      float64
v107       object
v108      float64
v109      float64
v11       float64
v110       object
v111      float64
v112       object
v113       object
v114      float64
v115      float64
v116      float64
v117      float64
v118      float64
v119      float64
v12       float64
v120      float64
v121      float64
v122      float64
           ...
v72         int64
v73       float64
v74        object
v75        object
v76       float64
v77       float64
v78       float64
v79        object
v8        float64
v80       float64
v81       float64
v82       float64
v83       float64
v84       float64
v85       float64
v86       float64
v87       float64
v88       float64
v89       float64
v9        float64
v90       float64
v91        object
v92       float64
v93       float64
v94       float64
v95       float64
v96       float64
v97       float64
v98       float64
v99       float64
Length: 134, dtype: object

In [117]:
data.apply(lambda x:sum(x.isnull()))

ID             0
source         0
target    114393
v1         99711
v10          166
v100       99716
v101       99635
v102      102678
v103       99711
v104       99711
v105       97323
v106       99635
v107           5
v108       97266
v109       97266
v11        99717
v110           0
v111       99711
v112         795
v113      110662
v114          54
v115       99839
v116       99717
v117       97266
v118       99730
v119      101396
v12          170
v120       99716
v121       99722
v122       99737
           ...
v72            0
v73        99717
v74            0
v75            0
v76        99635
v77        99711
v78        99839
v79            0
v8         97255
v80        99737
v81        97266
v82        97266
v83        99711
v84        99711
v85       101399
v86        99711
v87        97334
v88        99711
v89        97255
v9         99737
v90        99718
v91            5
v92        99730
v93        99711
v94        99711
v95        99730
v96        99711
v97        99730
v98        97327
v99        99711
Length: 134, dtype: int64

## split dataset to float and object type for filling missing values

In [85]:
import numpy as np
df_num = data.select_dtypes(include=[np.float])
df_num.head()

,target,v1,v10,v100,v101,v102,v103,v104,v105,v106,...,v9,v90,v92,v93,v94,v95,v96,v97,v98,v99
0,1.0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,0.007294,12.579184,...,9.999999,0.905342,0.442252,5.814018,3.517720,0.462019,7.436824,5.454545,8.877414,1.191337
1,1.0,NaN,1.312910,NaN,NaN,NaN,NaN,NaN,1.505335,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.303967,NaN
2,1.0,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,0.008275,11.670572,...,12.666667,0.811447,0.271480,5.156559,4.214944,0.309657,5.663265,5.974026,11.588858,0.841837
3,1.0,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,0.113967,12.554274,...,8.965516,1.042425,0.763925,5.498902,3.423944,0.832518,7.375480,6.746988,6.942002,1.334611
4,1.0,NaN,1.050328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
df_num=df_num.drop('target', axis=1)
df_num.head()

KeyError: "['target'] not found in axis"

In [96]:
df_num.head()

,v1,v10,v100,v101,v102,v103,v104,v105,v106,v108,...,v9,v90,v92,v93,v94,v95,v96,v97,v98,v99
0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,0.007294,12.579184,2.382692,...,9.999999,0.905342,0.442252,5.814018,3.517720,0.462019,7.436824,5.454545,8.877414,1.191337
1,NaN,1.312910,NaN,NaN,NaN,NaN,NaN,1.505335,NaN,1.825361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.303967,NaN
2,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,0.008275,11.670572,1.375753,...,12.666667,0.811447,0.271480,5.156559,4.214944,0.309657,5.663265,5.974026,11.588858,0.841837
3,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,0.113967,12.554274,2.230754,...,8.965516,1.042425,0.763925,5.498902,3.423944,0.832518,7.375480,6.746988,6.942002,1.334611
4,NaN,1.050328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_object = data.select_dtypes(exclude=[np.number])
df_object.head()

In [93]:
from sklearn.preprocessing import Imputer
fill_NaN = Imputer(missing_values=np.nan, strategy='mean', axis=1)
df_num_imp = pd.DataFrame(fill_NaN.fit_transform(df_num))
df_num_imp.columns = df_num.columns
df_num_imp.index = df_num.index

C:\Users\v9022828\AppData\Local\conda\conda\envs\Imagebox\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

ValueError: Some rows only contain missing values: [59613]

In [99]:
df_num_imp=df_num_imp.drop('target',axis=1)

In [100]:
df_num_imp.head()

,v1,v10,v100,v101,v102,v103,v104,v105,v106,v108,...,v9,v90,v92,v93,v94,v95,v96,v97,v98,v99
0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,0.007294,12.579184,2.382692,...,9.999999,0.905342,0.442252,5.814018,3.517720,0.462019,7.436824,5.454545,8.877414,1.191337
1,5.585847,1.312910,5.585847,5.585847,5.585847,5.585847,5.585847,1.505335,5.585847,1.825361,...,5.585847,5.585847,5.585847,5.585847,5.585847,5.585847,5.585847,5.585847,8.303967,5.585847
2,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,0.008275,11.670572,1.375753,...,12.666667,0.811447,0.271480,5.156559,4.214944,0.309657,5.663265,5.974026,11.588858,0.841837
3,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,0.113967,12.554274,2.230754,...,8.965516,1.042425,0.763925,5.498902,3.423944,0.832518,7.375480,6.746988,6.942002,1.334611
4,6.384421,1.050328,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,...,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421

In [101]:
df_num_imp.shape,df_object_imp.shape

((228714, 108), (228714, 20))

In [102]:
#https://stackoverflow.com/questions/32617811/imputation-of-missing-values-for-categories-in-pandas
df_object_imp = df_object.fillna(df_object.mode().iloc[0])
df_object_imp.head()

,source,v107,v110,v112,v113,v125,v22,v24,v3,v30,v31,v47,v52,v56,v66,v71,v74,v75,v79,v91
0,train,E,B,O,G,AU,XDX,C,C,C,A,C,G,DI,C,F,B,D,E,A
1,train,B,A,U,G,AF,GUV,C,C,C,A,E,G,DY,A,F,B,D,D,B
2,train,C,B,S,G,AE,FQ,E,C,C,A,C,F,AS,A,B,B,B,E,G
3,train,B,B,J,G,CJ,ACUE,D,C,C,B,C,H,BW,A,F,B,D,B,B
4,train,C,A,T,G,Z,HIT,E,C,C,A,I,H,BW,C,F,B,D,C,G

In [103]:
df_object_imp.dtypes

source    object
v107      object
v110      object
v112      object
v113      object
v125      object
v22       object
v24       object
v3        object
v30       object
v31       object
v47       object
v52       object
v56       object
v66       object
v71       object
v74       object
v75       object
v79       object
v91       object
dtype: object

## combine modified data frame to dataset_modified

In [104]:
data_mod=pd.concat([df_num_imp,df_object_imp],axis=1,join='inner')
data_mod.head()

,v1,v10,v100,v101,v102,v103,v104,v105,v106,v108,...,v31,v47,v52,v56,v66,v71,v74,v75,v79,v91
0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,0.007294,12.579184,2.382692,...,A,C,G,DI,C,F,B,D,E,A
1,5.585847,1.312910,5.585847,5.585847,5.585847,5.585847,5.585847,1.505335,5.585847,1.825361,...,A,E,G,DY,A,F,B,D,D,B
2,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,0.008275,11.670572,1.375753,...,A,C,F,AS,A,B,B,B,E,G
3,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,0.113967,12.554274,2.230754,...,B,C,H,BW,A,F,B,D,B,B
4,6.384421,1.050328,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,...,A,I,H,BW,C,F,B,D,C,G

In [105]:
data_mod['source']=data['source']
data_mod.head()
data_mod.shape

(228714, 128)

In [107]:
data_mod['target']=data['target']
data_mod.head()

,v1,v10,v100,v101,v102,v103,v104,v105,v106,v108,...,v47,v52,v56,v66,v71,v74,v75,v79,v91,target
0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,0.007294,12.579184,2.382692,...,C,G,DI,C,F,B,D,E,A,1.0
1,5.585847,1.312910,5.585847,5.585847,5.585847,5.585847,5.585847,1.505335,5.585847,1.825361,...,E,G,DY,A,F,B,D,D,B,1.0
2,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,0.008275,11.670572,1.375753,...,C,F,AS,A,B,B,B,E,G,1.0
3,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,0.113967,12.554274,2.230754,...,C,H,BW,A,F,B,D,B,B,1.0
4,6.384421,1.050328,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,6.384421,...,I,H,BW,C,F,B,D,C,G,1.0

In [112]:
data_mod.apply(lambda x: sum(x.isnull()))

v1             0
v10            0
v100           0
v101           0
v102           0
v103           0
v104           0
v105           0
v106           0
v108           0
v109           0
v11            0
v111           0
v114           0
v115           0
v116           0
v117           0
v118           0
v119           0
v12            0
v120           0
v121           0
v122           0
v123           0
v124           0
v126           0
v127           0
v128           0
v13            0
v130           0
           ...
v90            0
v92            0
v93            0
v94            0
v95            0
v96            0
v97            0
v98            0
v99            0
source         0
v107           0
v110           0
v112           0
v113           0
v125           0
v22            0
v24            0
v3             0
v30            0
v31            0
v47            0
v52            0
v56            0
v66            0
v71            0
v74            0
v75            0
v79            0
v91            0
target    114393
Length: 129, dtype: int64

In [113]:
cols=data.columns.tolist()
cols

['ID',
 'source',
 'target',
 'v1',
 'v10',
 'v100',
 'v101',
 'v102',
 'v103',
 'v104',
 'v105',
 'v106',
 'v107',
 'v108',
 'v109',
 'v11',
 'v110',
 'v111',
 'v112',
 'v113',
 'v114',
 'v115',
 'v116',
 'v117',
 'v118',
 'v119',
 'v12',
 'v120',
 'v121',
 'v122',
 'v123',
 'v124',
 'v125',
 'v126',
 'v127',
 'v128',
 'v129',
 'v13',
 'v130',
 'v131',
 'v14',
 'v15',
 'v16',
 'v17',
 'v18',
 'v19',
 'v2',
 'v20',
 'v21',
 'v22',
 'v23',
 'v24',
 'v25',
 'v26',
 'v27',
 'v28',
 'v29',
 'v3',
 'v30',
 'v31',
 'v32',
 'v33',
 'v34',
 'v35',
 'v36',
 'v37',
 'v38',
 'v39',
 'v4',
 'v40',
 'v41',
 'v42',
 'v43',
 'v44',
 'v45',
 'v46',
 'v47',
 'v48',
 'v49',
 'v5',
 'v50',
 'v51',
 'v52',
 'v53',
 'v54',
 'v55',
 'v56',
 'v57',
 'v58',
 'v59',
 'v6',
 'v60',
 'v61',
 'v62',
 'v63',
 'v64',
 'v65',
 'v66',
 'v67',
 'v68',
 'v69',
 'v7',
 'v70',
 'v71',
 'v72',
 'v73',
 'v74',
 'v75',
 'v76',
 'v77',
 'v78',
 'v79',
 'v8',
 'v80',
 'v81',
 'v82',
 'v83',
 'v84',
 'v85',
 'v86',
 'v87',
 'v88',
 'v89',
 'v9',
 'v90',
 'v91',
 'v92',
 'v93',
 'v94',
 'v95',
 'v96',
 'v97',
 'v98',
 'v99']

In [127]:
data.T.apply(lambda x: x.nunique(), axis=1)

ID        228714
source         2
target         2
v1        128997
v10       221696
v100      128926
v101      129077
v102      125969
v103      128999
v104      129000
v105      131356
v106      129060
v107           7
v108      131417
v109      131324
v11       128953
v110           3
v111      128997
v112          22
v113          37
v114      228583
v115      128268
v116      128991
v117      131298
v118      128948
v119      127311
v12       228539
v120      128996
v121      128987
v122      128952
           ...
v72           13
v73       128991
v74            3
v75            4
v76       129075
v77       129000
v78       128223
v79           18
v8        131398
v80       128954
v81       131399
v82       131357
v83       128999
v84       129000
v85       127305
v86       129002
v87       131257
v88       129000
v89       131405
v9        128906
v90       128993
v91            7
v92       128984
v93       129002
v94       129002
v95       128983
v96       129001
v97       128963
v98       131349
v99       129001
Length: 134, dtype: int64

In [147]:
data.shape

(228714, 134)

In [150]:
#re ordering columns like the original dataframe
data_mod=data_mod[cols]

In [ ]:
data_mod.apply(lambda x: sum(x.isnull()))

## Next step: One hot encoding

In [165]:
data_mod.select_dtypes(include=['int64']).dtypes

ID      int64
v129    int64
v38     int64
v62     int64
v72     int64
dtype: object

In [189]:
data_mod3=data_mod2.copy()

In [186]:
mylist = list(data_mod2.select_dtypes(include=['object']).columns)

In [188]:
mylist.remove('source')
mylist

['v107',
 'v110',
 'v112',
 'v113',
 'v125',
 'v22',
 'v24',
 'v3',
 'v30',
 'v31',
 'v47',
 'v52',
 'v56',
 'v66',
 'v71',
 'v74',
 'v75',
 'v79',
 'v91']

In [195]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
var_to_encode = mylist

for col in var_to_encode:
    data_mod3[col]=le.fit_transform(data_mod3[col])

In [200]:
data_mod3.head()

,ID,source,target,v1,v10,v100,v101,v102,v103,v104,...,v72_3,v72_4,v72_5,v72_6,v72_7,v72_8,v72_9,v72_10,v72_11,v72_12
0,3,train,1.0,1.335739,0.503281,19.470199,8.389237,2.757375,4.374296,1.574039,...,0,0,0,0,0,0,0,0,0,0
1,4,train,1.0,5.585847,1.312910,5.585847,5.585847,5.585847,5.585847,5.585847,...,0,0,0,0,0,0,0,0,0,0
2,5,train,1.0,0.943877,0.765864,15.491329,5.879353,3.292788,5.924457,1.668401,...,1,0,0,0,0,0,0,0,0,0
3,6,train,1.0,0.797415,6.542669,18.256352,8.507281,2.503055,4.872157,2.573664,...,0,0,0,0,0,0,0,0,0,0
4,8,train,1.0,6.384421,1.050328,6.384421,6.384421,6.384421,6.384421,6.384421,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Now data_mod3 is having int64 after labelencoder. Next step to convert this label to OHE (skip for now: takes RAM)
data_mod3=pd.get_dummies(data_mod3,columns=var_to_encode)
data_mod3.shape

## writing modified data to csv file

In [201]:
train = data_mod3.loc[data_mod3['source']=='train']
test = data_mod3.loc[data_mod3['source']=='test']

In [202]:
train.shape,test.shape

((114321, 173), (114393, 173))

In [203]:
test.head()

,ID,source,target,v1,v10,v100,v101,v102,v103,v104,...,v72_3,v72_4,v72_5,v72_6,v72_7,v72_8,v72_9,v72_10,v72_11,v72_12
114321,0,test,NaN,1.375465e+00,1.312911,19.708030,4.186787,1.873945,4.129022,1.701894,...,0,0,0,0,0,0,0,0,0,0
114322,1,test,NaN,7.125290e+00,1.291029,7.125290,7.125290,7.125290,7.125290,7.125290,...,0,0,1,0,0,0,0,0,0,0
114323,2,test,NaN,-4.903407e-07,1.575492,19.799999,6.535555,0.762963,4.917534,1.981859,...,0,0,0,0,0,0,0,0,0,0
114324,7,test,NaN,2.661870e+00,1.575493,0.116143,3.627655,5.664581,7.486234,4.313037,...,0,0,0,0,0,0,0,0,0,0
114325,10,test,NaN,1.252822e+00,1.050328,19.227696,6.606787,1.493882,4.929004,1.906923,...,0,0,0,0,0,0,0,0,0,0

In [204]:
train.drop('source',axis=1,inplace=True)
test.drop(['source','target'],axis=1,inplace=True)

In [183]:
train.shape

(114321, 172)

In [205]:
train.to_csv('train_modified2.csv',index=False)
test.to_csv('test_modified2.csv',index=False)